html, body, .full {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

#locked {
  background-color: #000;
  position: absolute;
  z-index: 1;
}

#locked-txt, #user {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#locked-txt h1 {
  font-size: 80px;
  color: #fff;
  margin: 0;
}

h3 {
  color: #fff;
  font-size: 40px;
}

h4 {
  color: #fff;
}

#unlocked {
  background-color: #fff;
  position: absolute;
  z-index: 0;
}

#invalid_login {
  display: none;
}

#user-pic {
  width: 200px;
  border-radius: 100px;
}

#user {
  height: 280px;
}

#lock-btn {
  float: right;
  width: 60px;
  height: 60px;
}

#lock-btn:hover {
  cursor: pointer;
}
